.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  background-color: white; 
  border: 10px ridge darkviolet;
}

